/* 分页框样式 */
.pageBox{
    height: 27px; 
    float: right;
}

/* 分页按钮样式 */
.page{
    border: 1px black solid; 
    width: 40px;
    height: 25px; 
    line-height: 25px; 
    text-align: center;
    margin-right: 20px;
    float: left;
    cursor: pointer;
}

/* 分页按钮选中样式 */
.page_ck{
    border: 1px black solid; 
    width: 40px;
    height: 25px; 
    line-height: 25px; 
    text-align: center;
    margin-right: 20px;
    float: left;
    cursor: pointer;
    background-color: rosybrown;
    color: white;
}